
body{ background-color: lightblue; margin:0px;}
.header{}
	h2{  background-color:#578798; text-align:center; margin:0px; color:neon; font-size: 20px; padding:40px;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: none;
  padding: 19px 40px;
  text-decoration:none;
}

li a:hover {
  background-color: #111;
}
