body{ background-color: lightblue; margin:0px;}

	/* Styling the grid  */ /*css 2022*/
	.grid-container{
display:grid;
grid-template-columns:auto auto auto auto auto auto  ;
background-color:lightblue;}

.grid-container > div{
background-color:#22a1ce; }

	/* Styling the navigation bar */ /*css 2022*/
.item2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a5eb1;
}

/* Styling the navigation links */
  .item2 li a {
  display: block;
  color: white;
  padding: 19px 40px;
  text-decoration:none;
  float:left;
}
/* change color of navigation hover */
 .item2 li a:hover {
  background-color: #111;
}
/*css 2022*/
.item1{grid-column:1 /7; text-align:center; padding:15px;  font-size: 15px;}
.item2{grid-column: 1 / 7;}
.item3{ grid-column-start: 1;
  grid-column-end: 7;  padding :10px; height :550px;      padding-top: 73px;
  } 
  .item4{grid-column: 1 / 7;  padding:20px;}
  .item5{ grid-column-start: 1;
  grid-column-end: 3; text-align:center; margin:53px; padding:10px;}
  .item6{  grid-column-start: 3;
  grid-column-end: 4; text-align:center;margin-right:78px; padding:10px; margin-top:52px; margin-bottom: 54px;}
.item7{ grid-column-start: 1;
  grid-column-end: 3;text-align:center;margin:44px; padding:10px;}
  .item8{padding-left: 149px;
    padding-right: 284px;
    padding-top: 44px;height: 1400px;
}
/* adding the changes made during the progress in item 8 */
.pic1 img{ width:500px; height:278px;}
.pic2 img {width: 500px; margin-bottom:38px; height:278px;}
.pic1{
	float:left;
	width:60%;}
.pic2{ float:left; width:40%; }
.pic3{float:left;}
.pic3 img{width:30%; padding-bottom:20px; padding-inline:10px;}




section{ }
/* Create two unequal columns that floats next to each other */
.rightcolumn{float: left;
  width: 37%;  margin-left:70px;}
.leftcolumn {   
   float: left;
  width: 35%;
  height:300px;
  margin-top:20px;

 padding:17px;
  background-color: #92e236;
  margin-left: 38px;
}
/* Styling the section links */ /*css 2022*/
 section ul {list-style-type: none;}
 section ul li { float:left;  margin:10px; background-color: white;  width:80%;
    height: 170px; text-align:center; padding:15px;}
 section ul li a{text-decoration: none; }
 section ul li:hover {background:#111;}
 h3{text-align:center;}
/* Styling the contact form */
.container {
      padding-left: 46px;
    width: 55%;
    }

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  resize: vertical;
}

.col-25 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
margin-top: 6px;}

.subject{height:100px;}

button[type=submit] {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  margin-top:10px;
padding:10px;}

/* change color of  hover */
button[type=submit]:hover {
  background-color:blue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
clear: both;}
  
  /* Footer */
.footer{ text-align:center;
 padding:2px;
background-color:black; color:white;}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width:768px) {
	 .item3 {   padding: 70px;
	 height: 704px;}
   .leftcolumn { width: 100%; padding-left:10px; margin:0px;}
   .rightcolumn {  margin:0px ;
   width: 100%;}
	.item5  {grid-column: 1/7;}
	.item7  {   
    grid-column: 1/7;}
	 .item6  {   
 grid-column: 1/7; margin-left: 50px;}
 .col-25 {width:100%;}
 .col-75{width:100%;}
 .container {width:80%;}
 .item2 li a {
    float: none;
	display:block; text-align:center; }
	.pic3 img{ width:100%}
	.item8 {height:4000px; padding-left: 146px;
		padding-right: 86px}
		.pic2{ width:100%; float:none; padding-left:88px;}
	.pic1{float:none; padding-left:88px;}
 }
 
 

	@media screen and (max-width:1300px) and (min-width:768px){
	.pic2{ width:100%; float:none; padding-left:88px;}
	.pic1{float:none; padding-left:88px;}
	    .item8 {padding-left: 146px;
		padding-right: 86px; height:1800px;}
	
 }
 
 
 