body{ background-color: red;}

nav{ background-color:red;    padding-top: 67px;}
 nav ul {margin:5px; padding:0%;}
 nav ul li {list-style:none; float:left; margin:0.5%; padding:1%; background-color: white; width: 20%;
    height: 100px; text-align:center;}
 nav ul li a{text-decoration: none; display: block; width:100%;}
 nav ul li:hover {background:lightgreen;}

}
.section{ display:column; flex-direction: column; padding-top:50%;}
	.left-column{ background-color: yellow; width:40%; padding:2%; float:left; height:400px; display:column; margin-top: 20px;}
	.right-column{background-color: blue;width:40%; padding:2%; float:right; height:400px; display:column; margin-top: 20px;}